# Archivos de dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales
*.tmp
*.temp
.DS_Store
Thumbs.db

# Carpeta de subidas (imágenes de perfiles/logos)
uploads/

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de cache del navegador
.cache

# Logs
*.log

# Archivos de dependencias de Python (por si acaso)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Archivos de desarrollo
.vscode/
.bin/
gh.zip
gh_installer.msi

# Carpetas innecesarias
.venv/
bin/
instance/
__pycache__/