# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencias de Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/

# Carpeta de subidas (imágenes de perfiles/logos)
/uploads
!uploads/default_logo.png
!uploads/.gitkeep

# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales del sistema
.DS_Store
Thumbs.db
*.log